/ buddybeers > registrations > complete

- @title = t(".title")
- stylesheets "sites/buddybeers/sections/users"
- content_for :head do
  %style{:type => "text/css", :media => "screen"}
    :plain
      #content #content-footer { background-image: url("/images/sites/buddybeers/backgrounds/content-bottom.png"); }

#new_user_complete
  
  %h1= t(".heading")
  
  %h2= t(".description")
  
  %p.resend= raw t(".resend", :link => new_confirmation_path(resource_name))
  
  = clear_floats