<p>
  <%# Each voucher is worth %{amount} and expires on %{expiration}. Buddy Drinks vouchers represent a specific monetary amount, redeemable at the location specified above and in no way guarantees the product listed. The location staff is fully responsible for verifying that any recipient is of legal age to receive the above product. Buddy Drinks vouchers are not redeemable for cash. For more information visit our FAQs and Terms and Conditions.%>
  <%= t("notifier.voucher_notification.disclaimer", :amount => number_to_currency((@group_drink.amount / @group_drink.quantity).to_f, :unit => @group_drink.amount.currency.symbol), :expiration => @group_drink.expires_at.to_s(:euro_date)) %>
</p>
