<p><%= t(".salutation")%></p>

<p><%= t(".signature") %></p>

<p>Buddy Labs UG <br />
1370 Willow Road, 2nd Floor <br />
Menlo Park, CA 94025 <br />
<a href="http://www.buddydrinks.com">http://www.buddydrinks.com</a> <br />
Twitter: <a href="http://www.twitter.com/buddydrinks">@buddydrinks</a></p>

