<p><%= t(".salutation")%></p>

<p><%= t(".signature") %></p>

<p>Buddy Labs UG <br />
1370 Willow Road, 2nd Floor <br />
Menlo Park, CA 94025 <br />
http://carlsberg-buddydrinks.com <br />
Twitter: @buddydrinks</p>