/ #header.pie
/   .container
/     #logo= link_to image_tag("sites/carlsberg/graphics/BuddyBeers-Carlsberg-Logo.png", :alt => "Buddy Drinks / Carlsberg Logo"), root_url
/     = render 'layouts/user_account_navigation'
/ = render 'layouts/navigation'
