= stylesheet_link_tag 'sites/carlsberg/fonts', 'sites/carlsberg/layout', 'sites/carlsberg/sections/home', 'jquery.fancybox-1.3.1', 'fancybox'
:plain
  <!--[if lte IE 8]>
    <style type="text/css" media="screen">
      .pie, #errorExplanation {
        position: relative;
        behavior: url(/PIE.htc);
      }
      #header .container #user_account_navigation #user_account .avatar a span img {
        -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayscale=1)";
        filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
      }
    </style>
  <![endif]-->