/ default > forms > password_fields

.form-group
  = f.text_field :password, :placeholder => t("forms.labels.choose_password"), :class => 'form-control', :type => "password" 
.form-group
  = f.text_field :password_confirmation, :placeholder => t("forms.labels.confirm_password"), :class => 'form-control', :type => "password" 
