%option(value="")
  = @bars.blank? ? t("forms.select.default_prompt") : t("forms.select.prompt_choose_object", :type => t("forms.select.choose_objects.a_bar"))
= options_from_collection_for_select(@bars, 'id', 'name')