%option(value="")
  = @cities.blank? ? t("forms.select.no_cities") : t("forms.select.prompt_choose_object", :type => t("forms.select.choose_objects.a_city"))
= options_from_collection_for_select(@cities, 'id', 'name')