%option(value="")
  = @countries.blank? ? t("forms.select.no_countries") : t("forms.select.prompt_choose_object", :type => t("forms.select.choose_objects.a_country"))
= options_from_collection_for_select(@countries, 'id', 'printable_name')
