.col-md-3.right.col-sm-3.col-xs-12
  .row
    %h4 What's in it for me ?
    %h5
      Every Voucher brings
      %br/
      an average of 3.1 customers
    %p Our research shows people don't drink alone. When a voucher is sold through Buddy Drinks that person brings their friends with them to redeem it. This means more customers for you.
  .row
    %h5
      Every voucher sells an average
      %br/
      of 10.4 full-priced drinks
    %p Our data shows that people rarely go to a venue and drink one drink. Most come to socialize and stay for a while. This means that when people bring their friends and they all drink, your Venue sells more.
  .row
    %h5 Our Promotion is Your Promotion
    %p We are your promotion partner. With years of experience in social network and internet marketing, by promoting our service we’re also promoting your venue. We're leveraging new media outlets like Facebook, Twitter, YouTube, UStream.tv, Foursquare and many more.
  .row
    %h5 Low Barrier to Entry
    %p
      There are no costs to use our
      service. It takes about 30 minutes to get setup to use Buddy Drinks in your venue. We've got solutions for every level of technology access. If you're internet-connected its a bit easier but we'll work with you every step of the way.
