#facebook
  = raw "<script src=\"http://connect.facebook.net/#{facebook_locale(I18n.locale.to_s)}/all.js#xfbml=1\"></script><fb:like href=\"#{bar_url(@bar)}\" show_faces=\"true\" width=\"232\" font=\"lucida grande\"></fb:like>"