/ buddybeers > bars > gallery

- content_for :head do
  :javascript
    $(document).ready(function(){
      // #{@bar.gallery.photos.blank? ? '' : '$("#gallery").hover(function(){ $("h1").slideUp("fast");}, function(){$("h1").slideDown("fast");});'}
      /* This code is executed after the DOM has been completely loaded */

      var totWidth = 0;
      var positions = new Array();

      $('#slides .slide').each(function(i){
          /* Loop through all the slides and store their accumulative widths in totWidth */
          positions[i]= totWidth;
          totWidth += $(this).width();

          /* The positions array contains each slide's cumulative offset from the left part of the container */

          if(!$(this).width())
          {
              alert("Please, fill in width & height for all your images!");
              return false;
          }
      });

      $('#slides').width(totWidth);

      /* Change the container div's width to the exact width of all the slides combined */

      $('#gallery_menu ul li a').click(function(e){

          /* On a thumbnail click */
          $('li.menuItem').removeClass('act').addClass('inact');
          $(this).parent().addClass('act');

          var pos = $(this).parent().prevAll('.menuItem').length;

          $('#slides').stop().animate({marginLeft:-positions[pos]+'px'},450);
          /* Start the sliding animation */

          e.preventDefault();
          /* Prevent the default action of the link */
      });

      $('#gallery_menu ul li.menuItem:first').addClass('act').siblings().addClass('inact');
      /* On page load, mark the first thumbnail as active */

    });

#gallery
  #slides
    - @bar.gallery.photos.each do |photo|
      .slide
        = image_tag photo.photo(:gallery)
        
  
