%aside.search-top-row.top_main
  .container.corporate-banner
    .top-banner
      .row
        .col-md-12.col-sm-12.col-xs-12.text-center
          %p 
            Join Buddy Drinks & Easily Reward Your Staff With Drinks & Local Incentives!
      .row.bussiness_perks
        .col-md-12.left.col-sm-12.col-xs-12
          .center-section.text-center
            %ul.sign_in_sign_up_tabs
              %li.sign_up_tab= link_to "SIGN UP", new_corporate_registration_url, :class => "btn"
              %li.sign_in_tab= link_to "LOG IN", new_corporate_session_url, :class => "btn"
            = clear_floats
          .clearfix

%section
  .container
    .row.middle-row
      .col-md-4.col-sm-12.col-xs-12
        .img-container
          %img{:alt => "", :src => "../images/iPhone-Hand.png", :class => "img-responsive"}/
      .col-md-8.col-sm-12.col-xs-12
        %h2
          What is it?
        %p
          Buddy Drinks gives companies the ability to instantly reward their staff with drinks & perks at local restaurants, bars and retail stores.
    %hr
    .row.middle-row
      .col-md-4.col-sm-12.col-xs-12.pull-right
        .img-container.float-right
          %img{:alt => "", :src => "../images/Bar-Games.jpg", :class => "img-responsive", :style => "min-height: 100%;"}/
      .col-md-8.col-sm-12.col-xs-12
        %h2
          Why Buddy Drinks?
        %p
          With Buddy Drinks reward a department within your company or the whole company and boost morale instantly.  Users will be able to order and redeem their vouchers individually, thereby allowing you to control group outing expenses.
  .row.text-center
    %h2.bottom-h2
      Ready to reward your employees?  Create a free account today!
