%tr
  %td= employment.user.to_s
  %td= link_to image_tag("sites/default/admin/icons/cross.png"), affiliate_bar_employment_path(:bar_id => employment.bar.id, :id => employment.id), :method => :delete, :confirm => t("global.confirm_question"), :class => "delete", :title => t(".remove")