

#app_video
  %h3= t(".video_heading")
  / 376x160
  = link_to image_tag("sites/default/graphics/video_link_sm.png", :alt => "Buddy Drinks Video"), "https://www.youtube.com/watch?v=I0RwzqzxqCM", :class => "iframe", :id => "video_link"
