/ %h1.big_quote
/   = t(".big_quote")
/   %br
/   %small
/     &ndash;
/     = link_to "Deutsche Startups", "http://www.deutsche-startups.de/2010/08/10/kurzmitteilungen-rebuy-de-myhammer-buddy-beers-the-founder-institute-netstart-award/"

%h2= t(".heading")

#logos.pie= image_tag("/press/logos.png", :alt => "Press Logos")

/ %p.paypal= link_to "Paypal", "https://www.x.com/people/BaldGeek/blog/2010/10/28/winners-of-second-paypal-x-developer-challenge-and-hackathon-revealed-innovate-2010-comes-to-a-close", :hreflang => "en"
/ 
/ %p.facebookdevs= link_to "Facebook Developers", "http://developers.facebook.com/blog/post/487", :hreflang => "en"
/ 
/ %p.gruenderszene= link_to "Gründer Szene", "http://www.gruenderszene.de/news/buddy-beers-paypal-king-kong-kommunikation-sap-chef-henning-kagermann-lmu", :hreflang => "de"
/ 
/ %p.deutschestartups= link_to "Deutsche Startups", "http://www.deutsche-startups.de/2010/08/10/kurzmitteilungen-rebuy-de-myhammer-buddy-beers-the-founder-institute-netstart-award/", :hreflang => "de"
/ 
/ %p.iwearyourshirt= link_to "I Wear Your Shirt", "http://www.iwearyourshirt.com/calendar/2011/january/03", :hreflang => "en"
/ 
/ %p.nurbier= link_to "nur bier - Mit BuddyDrinks guten Freunden ein Bier spendieren", "http://www.nurbier.de/mit-buddybeers-guten-freunden-ein-bier-spendieren/", :hreflang => "de"
/ 
/ %p.capital= link_to "The Capital", "http://www.hometownannapolis.com/news/CBN/2011/01/10-13/Around-Broadneck-Former-Bruin-is-brewin-something-different.html", :hreflang => "en"
