%h2= t(".heading")

%p
  = link_to t(".carlsberg_de").html_safe, "/press/2011-04-26-Buddy-Beers-und-Carlsberg-de.pdf", :hreflang => "de"
  %br
  = link_to t(".carlsberg_en").html_safe, "/press/2011-04-26-Buddy-Beers-and-Carlsberg-en.pdf", :hreflang => "en"

%p= link_to t(".paypal").html_safe, "/press/28-10-2010-Buddy-Beers-Paypal-Hackathon-en.pdf", :hreflang => "en"
  
/ %p= link_to t(".announcing").html_safe, "/press/29-07-2010-Announcing-Buddy-Beers-en.pdf"