/ - Middle section start
.container.about-container
  .row
    .col-md-7
      %h1
        Put social back
        %br/
        into socializing
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non viverra nisl. Cras pellentesque imperdiet mollis. Sed viverra viverra lacus, a auctor tellus. Proin vulputate facilisis quam, eget venenatis orci auctor a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non viverra nisl. Cras pellentesque imperdiet mollis. Sed viverra viverra lacus, a auctor tellus. Proin vulputate facilisis quam, eget venenatis orci auctor a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non viverra nisl. Cras pellentesque imperdiet mollis. Sed viverra viverra lacus, a auctor tellus. Proin vulputate facilisis quam, eget venenatis orci auctor a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non viverra nisl. Cras pellentesque imperdiet mollis. Sed viverra viverra lacus, a auctor tellus. Proin vulputate facilisis quam, eget venenatis orci auctor a.
      %a.buy-buddy-drink.btn{:href => new_iou_url} Buy A Buddy Drink
      %a.get-buddy-drink.btn{:href => "/apps"} Get the app
/ - Middle section end
