:plain
  <iframe src="https://www.youtube.com/watch?v=I0RwzqzxqCM&title=0&amp;byline=0&amp;portrait=0" width="500" height="212" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  
#content{ :class => @content_class }
  #app_form
    #apps
      %h2= t("home.apps.subhead")
      = render "home/app_form"
      = clear_floats