<h1 class="h1"><%= t(".greeting", :email => @resource.email) %></h1>

<p><%= t(".description") %></p>

<p><%= link_to t(".link_text"), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t(".security") %></p>