%ul.footer_social_links
  %li.facebook= link_to "Facebook", "http://facebook.com/buddybeers", :target => "_blank"
  %li.twitter= link_to "Twitter", "http://twitter.com/buddybeers", :target => "_blank"
  %li.foursquare= link_to "Foursquare", "http://foursquare.com/buddybeers", :target => "_blank"